/*================================================
                              Reset
    ================================================*/

* {
    margin: 0px;
    padding: 0px;
}

/*================================================
            Configurações básicas
================================================*/
body{
    background: #ccc;
} 


/*=======================================
        
=====================================*/
table {
    margin: 100px 200px;
    border-collapse: collapse;
    border-left: 4px solid #000;
}
 

td{
    padding: 20px;
    border-bottom: 1px solid red;
}