/*================================================
                              Reset
    ================================================*/

* {
    margin: 0px;
    padding: 0px;
}

/*================================================
            Configurações básicas
================================================*/



/*=======================================
        
=====================================*/
table {
    width: 30%;
    margin: 100px 200px;
    border-collapse: collapse;
}
 

td{
    padding: 20px;
    border-bottom: 1px solid red;
}