/*================================================
                              Reset
    ================================================*/

* {
    margin: 0px;
    padding: 0px;
}

/*================================================
            Configurações básicas
================================================*/

table{
    width: 20%;
    margin: 80px auto;
}